body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #e4e4e4;
}

.container {
    display: flex;
    flex-direction: row-reverse; /* Reverse the order to put sidebar on the right */
    align-items: flex-start;
}

.sidebar {
    width: 30%;
    padding: 20px;
}

.results {
    flex-grow: 1; /* Take remaining space */
    padding: 20px;
}

header {
    background: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
}

#search-section {
    text-align: center;
}

#city {
    padding: 15px; /* Increased padding */
    font-size: 18px; /* Larger font size */
    width: 70%; /* Adjusted width for better visibility */
    margin-right: 10px;
    box-sizing: border-box; /* Ensure padding doesn't affect overall width */
}

#search {
    padding: 15px 20px; /* Increased padding for a larger button */
    font-size: 18px; /* Matching font size to input */
    cursor: pointer;
    width: auto; /* Adjust width as needed or keep it auto */
    margin-top: 10px; /* Maintain spacing */
}

#current-weather, #forecast-title, #forecast {
    text-align: center;
}

.forecast-item {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    background: #007bff;
    color: white;
}